<div class="notesWrapper">
    <div class="NotesMenu">
        <div class="TabButtonContainer">
            <button (click)="noteType = 'myNotes'">My notes</button>
            <button (click)="noteType = 'sharedNotes'">Shared notes</button>
        </div>
        <div *ngIf="noteType=='myNotes'">
          <div *ngFor="let mynote of myNotes">
            <div class="note-button" (click)='selectNote(mynote); editMode = false'>
              <p> {{ mynote.name }}</p>
          </div>
          </div>
          <div class="note-button" (click)='newNote(); editMode = true'>
              <p>new note</p>
          </div>
        </div>
        <div  *ngIf="noteType=='sharedNotes'">
          <div *ngFor="let sharednote of sharedNotes">
              <button>shared</button>
          </div>
        </div>
    </div>
    <div classs="NoteContainer">
        <mat-card class="note-card" *ngIf="SelectedItem && loaded">
          <div *ngIf="!editMode">
              <mat-card-header class='note-card-header'>
                  <div class="header-container">
                      <div class="float_left">
                          <mat-card-title>{{ SelectedItem.name }}</mat-card-title>
                          <mat-card-subtitle>{{ SelectedItem.date }}</mat-card-subtitle>
                      </div>
                      <div class="float_right">
                        <button class="card-button" (click)='editMode = true'>
                            <i class="material-icons">
                                edit
                                </i>
                        </button>
                        <button class="card-button" (click)='deleteNote()'>
                            <i class="material-icons">
                                delete
                                </i>
                        </button>
                      </div>
                  </div>
                </mat-card-header>
                <mat-card-content>
                    <div [innerHTML]="SelectedItem.text"></div>
                </mat-card-content>
          </div>
          <div *ngIf="editMode">
              <mat-card-header class='note-card-header'>
                  <div class="header-container">
                      <div class="float_left">
                          <mat-card-title>{{ SelectedItem.name }}</mat-card-title>
                          <mat-card-subtitle>{{ SelectedItem.date }}</mat-card-subtitle>
                      </div>
                      <div class="float_right">
                        <button class="card-button" (click)='editMode = false'>
                            <i class="material-icons">
                                clear
                                </i>
                        </button>
                        <button class="card-button" (click)='saveNote(); editMode = false'>
                            <i class="material-icons">
                                save
                                </i>
                        </button>
                      </div>
                  </div>
                </mat-card-header>
                <mat-card-content>
                    <app-ngx-editor [config]="editorConfig" [resizer]="false" [spellcheck]="true" [(ngModel)]="editedText"></app-ngx-editor>
                </mat-card-content>
          </div>
        </mat-card>
    </div>
</div>

