.campaignWrapper {
  width: 100%;
  height: 100%;
}

.campaign-menu {
  height:100vh;
  width:50px;
  float:left;
  background-color: rgb(29, 29, 29);
  overflow: visible;
}

.line {
  height: 100vh;
  width: 3px;
  float: left;
  background-color: rgb(39, 39, 39);
}

.campaign-module {
  width:auto;
  height:100vh;
  overflow:hidden;
  margin: 0px;
}

.module-button {
  width: 50px;
  height: 40px;
  background-color: transparent;
  color: ghostwhite;
  border: none;
  float: left;

  &:hover {
    background-color: rgb(44, 44, 44)
  }
}

.isActive {
  background-color: rgb(122, 122, 122);
}






