<div classs="campaignWrapper">
  <div class="campaign-menu">
      <button class="module-button" (click)="setState('dashboard')">Dashboard</button>
      <button class="module-button" (click)="setState('notes')">Notes</button>
      <button class="module-button" (click)="setState('session history')">Session History</button>
      <button class="module-button" (click)="setState('players')">Players</button>
      <button class="module-button" (click)="setState('world lore')">World Lore</button>
      <button class="module-button" routerLink='/campaigns'>Back</button>
  </div>
  <div class="campaign-module">
      <div *ngIf="loaded">
        <div *ngIf="state=='dashboard'">
          <h3>dashboard</h3>
        </div>
        <div *ngIf="state=='notes'">
          <h3>notes</h3>
        </div>
        <div *ngIf="state=='session history'">
          <h3>session history</h3>
        </div>
        <div *ngIf="state=='players'">
          <h3>players</h3>
        </div>
        <div *ngIf="state=='world lore'">
          <h3>world lore</h3>
        </div>
      </div>

      <div *ngIf="!loaded">
      <mat-spinner [diameter]="150" class="load-spinner"></mat-spinner>
      </div>
  </div>
</div>


