.form-group {
  margin-left: 15px;
}

label {
  margin-right: 5px;
  font-size: 14px;
}

.button {
  margin-left: 5px;
}


.signup-window {
  height: 400px;
  width: 300px;

  h2 {
    text-align: center;
  }
}

.suForm-group {
  width: 100%;
  margin-bottom: 20px;
  display:inline-block;

  input {
    display:inline-block;
    background-color: transparent;
    border: none;
    color: white;
    width: 100%;
  }

  input:focus {
    outline: none;
  }
}

.signup-button {
  bottom: 0;
}
