.form-group {
  margin-left: 15px;
}

.suForm-group {
  margin: 20px;
}

label {
  margin-right: 5px;
  font-size: 14px;
}

.button {
  margin-left: 5px;
}

.signup-window {
  height: 300px;
  width: 250px;

  h2 {
    text-align: center;
  }
}

.suForm {
  width: 200px;
  margin: auto;
}

.signup-button {
  bottom: 0;
}
