.login-window {
  float: right;
  width: 590px;
}

.form-group {
  float: left;
  margin-left: 15px;
}

label {
  margin-right: 5px;
  font-size: 14px;
}

.login-button {
  height: 20px;
  width: 70px;
  background-color: rgb(255, 5, 5);
  color: floralwhite;
  border: none;
  margin-left: 5px;
}


